.team,
.speakers,
.logistics {
	background-position: top left !important;
	background-size: auto !important;
	background-repeat: no-repeat;
}

.twitter-feed {
	background-image: url('/img/sections-background/twitter-feed.jpg');
}

.subscribe {
	background-image: url('/img/sections-background/subscribe.jpg');
}